P{color: blue;}
h1{text-align:center; color:red}
h2{color:coral;}
h3{color:coral; font-size: small;}

body{background-color:lightgreen;}
table{color:blue;}

.img-end{border: 2px solid black;}

.html-img{border: 2px solid black; width: 70px;}

